<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eattle.phoket"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/FullScreenTheme" >
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_password"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" >
        </activity>

        <service
            android:name=".ServiceOfPictureClassification"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".AlbumGridActivity"
            android:label="@string/title_activity_album_grid"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullScreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eattle.phoket.MainActivity" />
        </activity>
        <activity
            android:name=".AlbumFullActivity"
            android:label="@string/title_activity_album_full"
            android:parentActivityName=".AlbumGridActivity"
            android:theme="@style/FullScreenTheme" >

            <!-- android:screenOrientation="portrait" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eattle.phoket.AlbumGridActivity" />
        </activity>
        <activity
            android:name=".PopupForTagAddition"
            android:label="@string/title_activity_popup_for_tag_addition"
            android:theme="@style/FullScreenTheme" >
        </activity>
        <activity
            android:name=".USBMainActivity"
            android:label="@string/title_activity_usbmain" >
        </activity>
        <activity
            android:name=".PopupPictureActivity"
            android:label="@string/title_activity_popup_picture"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/ActionBarTranslucentTheme"
            android:windowSoftInputMode="stateVisible" >
        </activity>

        <!-- 죽지 않는 서비스를 위한 리시버 -->
        <receiver android:name=".BroadcastListener" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="ACTION.Restart.PhoketService" /> <!-- 커스텀으로 정의한 인텐트 종류 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
